@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vlg: rgba(21, 85, 0, 0.2);
  --lg: rgb(21, 85, 0);
  --g: rgba(13, 51, 0, 0.85);
  --fg: rgba(13, 51, 0, 0.6);
  --edit: rgb(231, 127, 43);
  --delete: rgb(226, 34, 34);
}

html, body {
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family:  'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: rgb(102, 0, 71);
}

input, select {
  border: 2px solid rgba(13, 51, 0, 0);
  border-top: none;
  box-shadow: 0 0 0 1px var(--fg);
  transition-duration: 0.3s;
}

input:focus, select:focus {
  border: 2px solid var(--lg);
  border-top: none;
  box-shadow: 6px 6px 0 var(--lg);
  outline: none;
}

option {
  color: rgb(10, 39, 0);
}

option:checked {
  background-color: rgba(21, 85, 0, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
